# Copy this file to ~/.config/hashprice-menu-bar.env on your Mac
# and replace the hostname below if you run a different deployment.

HASHPRICE_API_URL=https://hashprice.coffeecoffeecoffeecoffee.com/api/hashprice
HASHPRICE_DASHBOARD_URL=https://hashprice.coffeecoffeecoffeecoffee.com/
HASHPRICE_TIMEOUT=8
